@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-transparent text-white;
  }

  #__next {
    @apply bg-opacity-80 bg-gray-900;
    border-radius: 10px;
  }

  html,
  body,
  #__next {
    height: 100%;
    width: 100%;
  }

  header {
    -webkit-app-region: drag;
    user-select: none;
  }

  #close-button {
    -webkit-app-region: no-drag;
  }
}
